# API
PORT=4001
HOST=0.0.0.0

# localstack
VITE_EVENTS_QUEUE_REGION=us-east-1
VITE_EVENTS_QUEUE_ENDPOINT=http://127.0.0.1:4566
VITE_EVENTS_QUEUE_PATH=/000000000000/convolution-local-queue
VITE_EVENTS_QUEUE_CREDENTIALS_KEY_ID=test
VITE_EVENTS_QUEUE_CREDENTIALS_ACCESS_KEY=test

# localstack ack
VITE_ACK_EVENTS_QUEUE_REGION=us-east-1
VITE_ACK_EVENTS_QUEUE_ENDPOINT=http://127.0.0.1:4566
VITE_ACK_EVENTS_QUEUE_PATH=/000000000000/convolution-local-queue
VITE_ACK_EVENTS_QUEUE_CREDENTIALS_KEY_ID=test
VITE_ACK_EVENTS_QUEUE_CREDENTIALS_ACCESS_KEY=test

# localstack avatar
VITE_AVATAR_GENERATION_QUEUE_REGION=us-east-1
VITE_AVATAR_GENERATION_QUEUE_ENDPOINT=http://127.0.0.1:4566
VITE_AVATAR_GENERATION_QUEUE_PATH=/000000000000/convolution-local-queue-avatar
VITE_AVATAR_GENERATION_QUEUE_CREDENTIALS_KEY_ID=test
VITE_AVATAR_GENERATION_QUEUE_CREDENTIALS_ACCESS_KEY=test

# avatars bucket
VITE_AVATAR_BUCKET_BASE_URL="https://<your-bucket-name>.<your-bucket-region>.s3.amazonaws.com";

# backend
VITE_BACKEND_API_BASE="http://localhost:9090/api"

# Solana RPC HTTP and WebSocket endpoints
VITE_SOLANA_RPC_ENDPOINT=
VITE_SOLANA_WS_ENDPOINT=
# If you get a Helius API key (optional)
VITE_HELIUS_API_KEY=

# Register requirements
VITE_MINIMUM_TOKEN_BALANCE=0
VITE_TOKEN_MINT=

# Doc urls
VITE_SUPPORT_URL=
VITE_DOC_URL=